body {
    background-color: #f3dbca;
}

#footer {
    background-color: #333;
    padding: 30px;
    text-align: center;
    color: #aaa;
    font-size: 0.9em;
}

.card-header {
    background-color: rgb(105, 1, 1);
    color: rgb(253, 248, 173);
}

.content {
    padding: 20px; background-color: #f9fddc;
}
